:root{
    --color-primary:  #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
}

*,
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Typography */

html{
    font-size: 62.5%;
}

body{
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    color: var(--color-body);
}

h1, 
h2, 
h3{
    color: var(--color-headings);
    margin-bottom: 1rem;
}

h1{
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

@media screen and (min-width: 1024px) {
    body{
        font-size: 1.8rem;
    }

    h1{
        font-size: 8rem;
    }

    h2{
        font-size: 4rem;
    }

    h3{
        font-size: 2.4rem;
    }
}


/* Links */

a {
    text-decoration: none;
}

.link-arrow {
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow::after{
    content: "-->";
    margin-left: 5px;
    transition: margin 0.15s;
}

.link-arrow:hover::after{
    margin-left: 10px;
}

@media screen and (min-width: 1024px) {
    .link-arrow {
        font-size: 1.5rem;
    }
}


/* Badges */

.badge {
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    white-space: nowrap;   /* 不换行 */
}

.badge--primary {
    background: var(--color-primary);
    color: white;
}

.badge--secondary {
    background: var(--color-secondary);
    color: white;
}

.badge--small {
    font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
    .badge{
        font-size: 1.5rem;
    }

    .badge--small{
        font-size: 1.2rem;
    }
}


/* List */

.list{
    list-style: none;
    color: var(--color-headings);
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

.list--tick {
    list-style-image: url("../img/tick.svg");
    padding-left: 3rem;
}

.list--tick .list__item {
    padding-left: .7rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
    .list--tick .list__item {
        padding-left: 0;
    }
}


/* icons */

.icon {
    width: 40px;
    height: 40px;
}

.icon--primary {
    fill: var(--color-primary);
}

.icon-container {
    align-items: center;
    background: #f3f9fa;
    border-radius: 100%;
    display: inline-flex;
    height: 64px;
    justify-content: center;
    width: 64px;
}


/* Buttons */

.btn {
    background-color: #fff;
    border-radius: 40px;
    border: 0;
    cursor: pointer;  /* 鼠标指针 */
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 0;
    padding: 2rem 3rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;   /* 不换行 */
}

.btn--primary {
    background-color: var(--color-primary);
    color: #fff;
}

.btn--primary:hover {
    background-color: #0c77fa;
}

.btn--secondary {
    background-color: var(--color-secondary);
    color: #fff;
}

.btn--secondary:hover {
    background-color: #0dd4f7;
}

.btn--accent {
    background-color: var(--color-accent);
    color: #fff;
}

.btn--accent:hover {
    background-color: #f03f12;
}

.btn--outline {
    border: 3px solid var(--color-headings);
    color: var(--color-headings);
}

.btn--outline:hover {
    background-color: var(--color-headings);
    color: #ffffff;
}

.btn--block {
    width: 100%;
    /* a 元素的 display 默认是 inline，不改成 block 的话，width: 100%; 不会起作用 */
    display: block;  
}

@media screen and (min-width: 1024px) {
    .btn {
        font-size: 1.5rem;
    }
}