:root{
    --color-primary:  #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
    --color-body-darker: #5c5577;
    --color-border: #ccc;
    --border-radius: 30px;
}

*,
*::after, 
*::before {
    box-sizing: border-box;
}


/* Typography */

html{
    font-size: 62.5%;
}

body{
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    color: var(--color-body);
}

h1, 
h2, 
h3{
    color: var(--color-headings);
    margin-bottom: 1rem;
}

h1{
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

@media screen and (min-width: 1024px) {
    body{
        font-size: 1.8rem;
    }

    h1{
        font-size: 8rem;
    }

    h2{
        font-size: 4rem;
    }

    h3{
        font-size: 2.4rem;
    }
}


/* Links */

a {
    text-decoration: none;
}

.link-arrow {
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow::after{
    content: "-->";
    margin-left: 5px;
    transition: margin 0.15s;
}

.link-arrow:hover::after{
    margin-left: 10px;
}

@media screen and (min-width: 1024px) {
    .link-arrow {
        font-size: 1.5rem;
    }
}


/* Badges */

.badge {
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    white-space: nowrap;   /* 不换行 */
}

.badge--primary {
    background: var(--color-primary);
    color: white;
}

.badge--secondary {
    background: var(--color-secondary);
    color: white;
}

.badge--small {
    font-size: 1.6rem;
    padding: 0.5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
    .badge{
        font-size: 1.5rem;
    }

    .badge--small{
        font-size: 1.2rem;
    }
}


/* List */

.list{
    list-style: none;
    padding-left: 0;
    color: var(--color-headings);
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

.list--tick {
    list-style-image: url("../img/tick.svg");
    padding-left: 3rem;
}

.list--tick .list__item {
    padding-left: .7rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
    .list--tick .list__item {
        padding-left: 0;
    }
}


/* icons */

.icon {
    width: 40px;
    height: 40px;
}

.icon--primary {
    fill: var(--color-primary);
}

.icon--white {
    fill: #fff;
}

.icon--small {
    height: 30px;
    width: 30px;
}

.icon-container {
    align-items: center;
    background: #f3f9fa;
    border-radius: 100%;
    display: inline-flex;
    height: 64px;
    justify-content: center;
    width: 64px;
}

.icon-container--accent {
    background-color: var(--color-accent);
}


/* Buttons */

.btn {
    background-color: #fff;
    border-radius: 40px;
    border: 0;
    cursor: pointer;  /* 鼠标指针 */
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 0;
    padding: 2rem 3rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;   /* 不换行 */
}

.btn--primary {
    background-color: var(--color-primary);
    color: #fff;
}

.btn--primary:hover {
    background-color: #0c77fa;
}

.btn--secondary {
    background-color: var(--color-secondary);
    color: #fff;
}

.btn--secondary:hover {
    background-color: #0dd4f7;
}

.btn--accent {
    background-color: var(--color-accent);
    color: #fff;
}

.btn--accent:hover {
    background-color: #f03f12;
}

.btn--outline {
    border: 3px solid var(--color-headings);
    color: var(--color-headings);
}

.btn--outline:hover {
    background-color: var(--color-headings);
    color: #ffffff;
}

.btn--stretched {
    padding-left: 6rem;
    padding-right: 6rem;
}

.btn--block {
    width: 100%;
    /* a 元素的 display 默认是 inline，不改成 block 的话，width: 100%; 不会起作用 */
    display: block;  
}

@media screen and (min-width: 1024px) {
    .btn {
        font-size: 1.5rem;
    }
}


/* Inputs */

.input {
    padding: 1.5rem 3.5rem;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    outline: 0; /* Input 的外边框 */
    color: var(--color-headings);
    font-size: 2rem;
}

::placeholder {
    color: #cdcbd7;
}

.input-group {
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    display: flex;
}

.input-group .input {
    border: 0;
    flex-grow: 1; /* grow to take up all the available space */
}

.input-group .btn {
    margin: 4px;
}

@media screen and (min-width: 1024px) {
    .input {
        font-size: 1.5rem;
    }
}


/* Cards */

.card {
    border-radius: 7px;
    box-shadow: 0 0 20px 10px #f3f3f3;
    /* header 的背景会覆盖圆角 */
    overflow: hidden;  /* 需要放在容器里面才会生效 */
}

.card__header, 
.card__body {
    padding: 2rem 3rem;
}

.card--primary .card__header {
    background-color: var(--color-primary);
    color: #fff;
}

.card--secondary .card__header {
    background-color: var(--color-secondary);
    color: #fff;
}

.card--secondary .badge--secondary {
    background-color: #02CDF1;
}


/* Plans */

.plan__name {
    color: #fff;
    font-weight: 500;
    font-size: 2.4rem;
}

.plan__price {
    font-size: 6rem;
}

.plan__billing-cycle {
    font-size: 2.4rem;
    font-weight: 300;
    opacity: 0.8; /* 不透明度 */
    margin-right: 1rem;  /* 与 badge 之间的距离 */
}

.plan__description {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1px; 
    display: block;
}

.plan .list__item {
    margin-bottom: 2rem;
}

.plan--popular .card__header{
    position: relative;
}

.plan--popular .card__header::before {
    content: url(../img/popular.svg);
    width: 40px;
    display: inline-block;
    position: absolute; /* 需要把 parent 设置为 reletive position */
    top: -6px;
    right: 5%;
}

@media screen and (min-width: 1024px) {
    .plan__name {
        font-size: 1.4rem;
    }

    .plan__price {
        font-size: 5rem;
    }

    .plan__billing-cycle {
        font-size: 1.6rem;
    }

    .plan__description {
        font-size: 1.7rem;
    }
}


/* Media */
.media {
    display: flex;
}

.media__title {
    margin-top: 0;
}

.media__body {
    margin: 0 2rem;
}

.media__image {
    margin-top: 1rem;
}


/* Quote */
.quote {
    font-size: 3rem;
    font-style: italic;
    color: var(--color-body-darker);
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 0;
}

.quote__text::before {
    /* 上引号 */
    content: open-quote; 
}

.quote__text::after {
    /* 下引号 */
    content: close-quote; 
}

.quote__line {
    margin-top: 0;
}

.quote__author {
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0;
}

.quote__company {
    font-size: 2rem;
    font-style: normal;
    /* 不透明度 */
    opacity: 0.4;
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    .quote {
        font-size: 2rem;
    }

    .quote__author {
        font-size: 2.4rem;
    }

    .quote__company {
        font-size: 1.6rem;
    }
}


/* Grids */
.grid {
    display: grid;
}

.grid--align-center {
    align-items: center;
}

@media screen and (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media screen and (min-width: 1024px) {
    .grid--1x3 {
        grid-template-columns: repeat(3, 1fr);
    }
    
}


/* Testimonial */
.testimonial {
    padding: 3.5rem;
}

.testimonial__image {
    /* 父级元素是 reletive position ，
    子元素就可以使用 absolute position，相对父级元素的左上点定位 */
    position: relative;
}

.testimonial__image>.icon-container {
    position: absolute;
    top: 3rem;
    right: -32px;
}

.testimonial__image > img {
    /* Use the direct child selector */
    width: 100%;
}

@media screen and (min-width: 768px) {
    .testimonial .quote, 
    .testimonial .quote__author {
        font-size: 2.4rem;
    }
    
    .testimonial .quote {
        margin-left: 6rem;
    }
}


/* Callouts */
.callout {
    padding: 4rem;
    border-radius: 5px;
}

.callout--primary {
    background: var(--color-primary);
    color: #fff;
}

.callout__content {
    text-align: center;
}

.callout__heading {
    margin-top: 0;
    color: #fff;
    font-size: 3rem;
}

.callout__text {
    margin-top: 0;
}

.callout .btn {
    justify-self: center;
    align-self: center;
    text-transform: none;
}

@media screen and (min-width: 768px) {
    .callout .grid--1x2 {
        grid-template-columns: 1fr auto;
    }
    
    .callout__content {
        text-align: left;
    }

    .callout .btn {
        margin-left: 2rem;
    }
}