:root{
    --color-promary:  #2584ff;
    --color-sencondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
