<section class="block container">
  <header class="block__header">
    <h2>Host On The Cloud to Keep Growing</h2>
    <p>
      Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
      accumsan.
    </p>
  </header>
  <article class="grid grid--1x2 features">
    <div class="features__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="img/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="features__heading">Super Easy to Use</h3>
      <p>
        * 4eafa55 Build the input component. * 630378f Build the buttons
        component * 257c32b Correct spelling mistakes(from promary to primary) *
        e8eefff Build the icons component * 50bcc1a Build the
      </p>
      <a href="#" class="link-arrow">learn more</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="img/easy.webp 1x, img/easy@2x.webp 2x"
      />
      <source type="image/jpg" srcset="img/easy.jpg 1x, img/easy@2x.jpg 2x" />
      <img class="image" src="img/easy.jpg" alt="easy to use" />
    </picture>
  </article>
  <article class="grid grid--1x2 features">
    <div class="features__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="img/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="features__heading">Simply fast websites</h3>
      <p>
        * 4eafa55 Build the input component. * 630378f Build the buttons
        component * 257c32b Correct spelling mistakes(from promary to primary) *
        e8eefff Build the icons component * 50bcc1a Build the
      </p>
      <a href="#" class="link-arrow">learn more</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="img/fast.webp 1x, img/fast@2x.webp 2x"
      />
      <source type="image/jpg" srcset="img/fast.jpg 1x, img/fast@2x.jpg 2x" />
      <img
        class="image"
        src="img/fast.jpg"
        alt="the growing of server requset"
      />
    </picture>
  </article>
  <article class="grid grid--1x2 features">
    <div class="features__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="img/sprite.svg#settings"></use>
        </svg>
      </span>
      <h3 class="features__heading">WordPress made easy</h3>
      <p>
        * 4eafa55 Build the input component. * 630378f Build the buttons
        component * 257c32b Correct spelling mistakes(from promary to primary) *
        e8eefff Build the icons component * 50bcc1a Build the
      </p>
      <a href="#" class="link-arrow">learn more</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="img/wordpress.webp 1x, img/wordpress@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="img/wordpress.jpg 1x, img/wordpress@2x.jpg 2x"
      />
      <img class="image" src="img/wordpress.jpg" alt="wordpress" />
    </picture>
  </article>
</section>
