<section class="block block--dark block--skewed-right block-showcase">
  <header class="block__header">
    <h2>User-Friendly Control Panel</h2>
  </header>
  <div class="container grid grid--1x2">
    <picture class="block-showcase__image">
      <source
        type="image/webp"
        srcset="img/ipad.webp 1x, img/ipad@2x.webp 2x"
      />
      <source type="image/png" srcset="img/ipad.png 1x, img/ipad@2x.png 2x" />
      <img src="img/ipad.png" alt="ipad screen" />
    </picture>
    <ul class="list">
      <li class="list__item media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="img/sprite.svg#snap"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Easy Start & Managed Updates</h3>
          <p>
            * 4eafa55 Build the input component. * 630378f Build the buttons
            component * 257c32b Correct spelling mistakes(from promary to
            primary) * e8eefff Build the icons component
          </p>
        </div>
      </li>
      <li class="list__item media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="img/sprite.svg#growth"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Easy Start & Managed Updates</h3>
          <p>
            * 4eafa55 Build the input component. * 630378f Build the buttons
            component * 257c32b Correct spelling mistakes(from promary to
            primary) * e8eefff Build the icons component
          </p>
        </div>
      </li>
      <li class="list__item media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="img/sprite.svg#computer"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Easy Start & Managed Updates</h3>
          <p>
            * 4eafa55 Build the input component. * 630378f Build the buttons
            component * 257c32b Correct spelling mistakes(from promary to
            primary) * e8eefff Build the icons component
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
