    <div style="width: 50%; padding: 4rem;">
        <div class="card card--secondary">
            <header class="card__header">Card Title</header>
            <div class="card__body">
            * 50bcc1a Build the list component
            * fd166ce Build the badges component
            * 61c0f48 Build the arrow link component.
            * 763b38c Define the styles for the font
            * 352a0e5 Define the color palette.
            * e6c1347 initial commit.</div>
        </div>
    </div>