<div class="card testimonial">
  <div class="grid grid--1x2 grid--alian-center">
    <!-- image -->
    <div class="testimonial__image">
      <img src="img/testimonial.jpg" alt="A happy, smiling customer." />
      <span class="icon-container icon-container--accent">
        <svg class="icon icon--white icon--small">
          <use xlink:href="img/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <!-- quote -->
    <blockquote class="quote">
      <p class="quote__text">
        e8eefff Build the icons component * 50bcc1a Build the list component *
        fd166ce Build the badges component * 61c0f48 Build the[main 01d8c08]
        Build the grid component. 3 files changed, 29
      </p>
      <footer>
        <div class="media">
          <div class="media__image quote__line">
            <svg class="icon icon--primary">
              <use xlink:href="img/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">John Smith</h3>
            <p class="quote__company">ABC Company</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
